<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azcltd.android.test.kolesov"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Cities"
        android:theme="@style/AppTheme" >
        <uses-library android:name="ru.yandex.yandexmapkit"/>
        <activity
            android:name="com.azcltd.android.test.kolesov.MainActivity"
            android:label="Cities" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.azcltd.android.test.kolesov.CityDetails"
            android:label="City Details" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN1" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.azcltd.android.test.kolesov.MyMapActivity" android:label="City Map"
            android:theme="@android:style/Theme.NoTitleBar">
            <action android:name="android.intent.action.MAIN2" />

            <category android:name="android.intent.category.LAUNCHER" />
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
