<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azcltd.android.test.kolesov"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:targetSdkVersion="16" android:minSdkVersion="4" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Cities"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme" >
        <!--<uses-library android:name="ru.yandex.yandexmapkit"/>-->
        <!--<uses-library android:name="org.osmdroid.views.MapView"/>-->
        <activity
            android:name="com.azcltd.android.test.kolesov.MainActivity"
            android:label="Cities" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.azcltd.android.test.kolesov.CityDetails"
            android:label="City Details" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.azcltd.android.test.kolesov.MyMapActivity"
            android:label="City Map">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-feature android:name="android.hardware.location.network" />-->
    <!--<uses-feature android:name="android.hardware.location.gps" />-->
    <!--<uses-feature android:name="android.hardware.wifi" />-->

</manifest>